
h1 {
	text-align: center;
	background: AF70D4;
	color: #70D5B0;
}

h2 {
	text-align: center;
	background-color: AF70D4;
	color: #70D5B0;
	font-style: italic;
}

body {
	text-align: left;
	background-color: AF70D4;
	color: #70D5B0;
}